* {
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 20px auto;
}

table {
    width: 600px;
    /* background-color: rgba(0, 0, 0, .5); */
    font-weight: bold;
    text-align: center;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: .3rem;
}

table tr>td {
    width: 100px;
}

.player_th {
    background-color: rgba(0, 0, 0, .5);
}


/* 
.summa>th,
td {
    background-color: lightgray;
}

.bonus>th,
td {
    background-color: lightgray;
}

.total>th,
td {
    background-color: lightgray;
}

.spelare>th,
td {
    background-color: lightgrey;
} */

.table_area {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.game_box {
    float: left;
}

.dice_box {
    border: 2px solid #000;
    padding: 1rem;
}

.dice_area {
    padding: 1rem;
}

.dice_list {
    display: flex;
    flex-flow: row wrap;
    padding: 1rem;
}

.dice_list .dice {
    padding: 1rem;
    text-align: center;
}

.dice_list .dice span {
    width: 100px;
    height: 100px;
    display: block;
}

.dice_list .dice span img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 15px;
}

.dice_list .dice .checkbox {
    width: 26px;
    height: 26px;
    padding: 1rem;
    margin-top: 17px;
}

.player_box {
    margin-top: 20px;
}

.player_box .throw {
    width: 50%;
    float: left;
}

.player_box .throw p {
    margin-top: 0;
}

.player_box .roll_btn {
    float: right;
}

.player_box .roll_btn .btn {
    width: 100px;
    height: 30px;
}

.player_box .player_list {
    width: 100%;
    display: flex;
}

.player_list .player {
    flex: 1;
    padding: 1rem;
    text-align: center;
}

.player_list .p_name {
    display: block;
    margin-top: 5px;
}

.clearboth {
    clear: both;
}

.active {
    background-color: salmon;
}